@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Rajdhani:wght@500;600;700&display=swap');
