body, html{
    
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    
}
/* html{
    margin: 0;
} */
.container{
    margin: auto;
    padding: 15px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin: auto;
    border-radius: 5px;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
    color: #252A34;
}
.menu li {
    margin-right: 20px;
}
.menu li:last-child{
    margin-right: 0;
}
.menu li a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 5px;
}
.menu li a:hover{
    background: #e2e1e1;
}
.burger{
    display: none;
}
#nav-icon6 {
    width: 60px;
    height: 30px;
    position: relative;
    transition-duration: 1s;
    margin: 48px auto 12px auto;
    cursor: pointer;
}
#nav-icon6 span {
    height: 5px;
    width: 60px;
    background-color: #FF2E63;
    border-radius: 20px;
    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;   
}
#nav-icon6 span:before {
    left: 0;
    position: absolute;
    top: -18px;
    height: 5px;
    width: 60px;
    background-color: #FF2E63;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#nav-icon6 span:after {
    left: 0;
    position: absolute;
    top: 18px;
    height: 5px;
    width: 60px;
    background-color: #FF2E63;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#nav-icon6.open span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
}
#nav-icon6.open span:before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
}
#nav-icon6.open span:after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
}
.log_reg{
    display: flex;
    align-items: center;
}
.btn_login{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    color: #FF2E63;
    padding: 9px 23px;
    border-radius: 5px;
    margin-right: 2px;
}
.btn_register{
    background: #FF2E63;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 23px;
    border-radius: 5px;
}
.btn_login:hover{
    background: #e2e1e1;
}
.btn_register:hover{
    background: #ad1b40;
}
.log_reg a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.banner{
    display: flex;
    margin-top: 100px;
    /* justify-content: space-between; */
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 300px;
    margin-left: 30px;
}
.slogan_text{
    font-size: 50px;
    font-weight: 700;
    font-family: Rajdhani;
    color: #343434;
}
.slogan_text span{
    color: #FF2E63;
    
}
.slogan_btn{
    margin-top: 50px;
    margin-left: 0;
    width: 120px;
    padding: 13px 22px;
    background: #346CD9;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    text-align: center;
}
.slogan_btn:hover{
    cursor: pointer;
    background-color: rgb(6, 68, 161);
}
.slogan_btn:active{
    box-shadow: 0 8px 5px -2px #333;
}
.car_img_banner{
    position: relative;
    width: 755px;
    height: 400px;
}
.ellips{
    position: absolute; 
    top: 0px;
    right: 100px;
    z-index: -100;
}
.car{
    position: absolute;
    top: 90px;
    right: 0px;
}
.latest_competitions{
    width: 100%;
}
.competitions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
h1{
    margin-top: 100px;
    display: block;
    text-align: left;
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 36px;
    line-height: 45.94px;
    color: #343434;
}
.auto_card{
    width: 270px;
    height: 283px;
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.model_car{
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.52px;
    color: #252A34;
}
.price_car{
    display: flex;
    align-items: center;
}
.newPrice_car{
    margin: 0;
    margin-right: 10px;
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 30px;
    line-height: 38.28px;
    color: #FF2E63;
}
.oldPrice_car{
    margin: 0;
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 20px;
    line-height: 25.52px;
    color: #999;
    display: flex;
    align-items: flex-end;
    text-decoration: line-through;
}
.card_info{
    padding: 20px;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.tickets_remainig{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    color: #343434;
    margin: 0;
}
.car_btn{
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
}
.vector_1{
    position: absolute;
    z-index: 1000;
    bottom: 15px;
    right: 10px;
}
.how_it_works{
    margin: auto;
    width: 100%;
}
.stage_of-work{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.stage{
    width: 250px;
    height: 181px;
    margin-top: 60px;
}
.vector_2{
    width: 32px;
    height: 20px;
}
.stage_text{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #343434;
}
.winner_content{
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;  
   
}
.winner-text{
    width: 48%;
    background: rgba(2, 14, 37);
    max-height: 640px;
}

.winner-foto{
    width: 48%;
}
.latest_winners{
    margin: 0 auto 100px auto;
    width: 100%;
    
}
.winners{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
footer{
    width: 100%;
    background-color: #346CD9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 55px;
    padding-right: 55px;
    
}
.footer_menu{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
}
.footer_menu li {
    margin-right: 20px;
}
.footer_menu li a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 5px;
}
.footer_menu li a:hover{
    color: #c5bebe;
}



   