@media screen and (max-width: 1200px) {
    .competitions{
        justify-content: space-around;
    }
    .winners{
        justify-content: space-around;
    }
    .stage_of-work{
        justify-content: space-around;
    }
    .stage{
        padding: 10px;
    }
    .vector_2{
        display: none;
    }

}
@media screen and (max-width: 1100px) {
    .car_img_banner{
        display: none;
    }
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        margin-left: 0;
    }
}
@media screen and (max-width: 1100px) {
    .menu{
        display: none;
    }
    .burger{
        display: block;
    }
}
@media screen and (max-width: 1000px) {
    .winner-text{
        display: none;
    }
    .winner_content{
        justify-content: center;
    }
    .footer_menu{
        display: none;
    }
    footer{
        justify-content: center;
    }

}
@media screen and (max-width: 650px) {
    .slogan_text{
        text-align: center;
    }
}